{% extends 'base.html' %}
{% load trainings_templatetags %}

{% block content %}

    <div class="dropdown">
        <button class="dropdown_button">&raquo;</button>
        <div class="dropdown_content">
            <!--<a href="/edit-training/{{training.id}}/">Edit</a>-->
            <a href="/delete-training/{{training.id}}/">Delete</a>
        </div>
    </div>

    <h1>{{ training.name }}</h1>
    
    

    <ul class="training_times">
        <li><b>Start:</b> {{ training.time_start|date:'Y-m-d H:i' }}</li>
        <!--<li><b>End:</b> {{ training.time_end|date:'Y-m-d H:i' }}</li>-->
        <li><b>Duration:</b> {{ training.duration|round_dt }}</li>
    </ul>

    
    <table>
        <th>Exercise</th>
        <th colspan="2">Weight</th>
        <th colspan="8">Series</th>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.weight_kg }} kg</td>
                <td>{{ exercise.weight_per }}</td>
                {% for r in exercise.reps.values %}
                    <td>{{r}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    

{% endblock %}
